<ion-header>

	<ion-navbar>
		<ion-title *ngIf="command.user">Commande de {{ command.user.firstname }} {{ command.user.lastname }}</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-3></ion-col>
			<ion-col col-6>
				<h6>Details du clients</h6>
			</ion-col>
			<ion-col col-3></ion-col>
		</ion-row>
		<br>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-4>Nom : </ion-col>
			<ion-col col-6>{{ command.user.firstname }} {{ command.user.lastname }}</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-4>Telephone : </ion-col>
			<ion-col col-6>{{ command.user.phone }}</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-4>adresse : </ion-col>
			<ion-col col-6>{{ command.user.address }}</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid>
		<ion-row>
			<ion-col col-3></ion-col>
			<ion-col col-6>
				<h6>Details de la commande</h6>
			</ion-col>
			<ion-col col-3></ion-col>
		</ion-row>
		<ion-row *ngIf="command.code" style="font-size: 1.2em;">
			<ion-col col-1></ion-col>
			<ion-col col-7>Code de la commande : </ion-col>
			<ion-col col-4>{{ command.code }}</ion-col>
		</ion-row>
		<ion-row style="font-size: 1.2em;">
			<ion-col col-1></ion-col>
			<ion-col col-4>Prix totale : </ion-col>
			<ion-col col-6>{{ command.price }} Dt</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
		<hr>
		<ion-row style="font-size: 1.2em;" *ngFor="let meal of command.mealsList">
			<ion-col col-1></ion-col>
			<ion-col col-2>
				<ion-avatar item-start *ngIf="meal.image">
					<img class="avatarMeal" [src]="meal.image.secure_url">
				</ion-avatar>
			</ion-col>
			<ion-col col-6>{{ meal.name }} </ion-col>
			<ion-col col-1>X</ion-col>
			<ion-col col-1> {{ meal.count }}</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
		<h6 *ngIf="command.description">
			Decription :
		</h6>
		<p *ngIf="command.description">{{ command.description }}</p>
	</ion-grid>

	<ion-row *ngIf="parent == 'home'">
		<ion-col>
			<button ion-button color="danger" round (click)="acceptCommand('REJECTED')">Refuser</button>
		</ion-col>
		<ion-col>
			<button ion-button color="secondary" round (click)="acceptCommand('ACCEPTED')">Accepter la commande</button>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="parent == 'accepted'">
		<ion-col col-1></ion-col>
		<ion-col>
			<button ion-button color="secondary" round (click)="acceptCommand('ONWAY')">Declarer comme commande prete</button>
		</ion-col>
	</ion-row>
	<ion-col col-1></ion-col>
</ion-content>